<div class='card z-depth-4 block'>
  <div class='card-content'>
    <%= render partial: "portfolios/shared/block_header", locals: {title: 'EDUCAÇÃO'} %>
    <div class='row history'>
      <div class="col m10 offset-m1 s10 offset-s1">
        <% portfolio.educations.each_with_index do |edu, i| %>
          <div class='row zero-bottom-space'>
            <div class="col m3 s12">
              <div class='row custom-space'>
                <div class="custom-blue center time_box">
                  <p class="white-text date">
                    <%= edu.start_date.strftime('%Y') %>
                    <%= (edu.end_date)? " até #{edu.end_date.strftime('%Y')}" : '' %>
                  </p>
                </div>
              </div>
              <div class='row'>
                <p class="company custom-grey-text text-darken-1">
                  <%= edu.institution %>
                </p>
              </div>
            </div>
            <div class="col m8 offset-m1">
              <div class="row custom-space">
                <p class="professional_title custom-grey-text text-darken-1">
                  <%= edu.title %>
                </p>
              </div>
              <div class="row">
                <p class="professional_description custom-grey-text">
                  <%= edu.description %>
                </p>
              </div>
            </div>
          </div>
          <div class='row'>
            <% if portfolio.educations.count != i + 1 %>
              <hr class='divider'>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>