<div class="row">
  <div class="col m4 offset-m1 s12 ">
    <div class="input-field">
      <%= form.text_field "card[fullname]", id: 'fullname', required: true %>
      <label for="email">Nome no cartão</label>
    </div>
    <div class="input-field">
      <%= form.text_field "card[cpf]", id: 'cpf', required: true %>
      <label for="number">CPF</label>
    </div>
    <div class="input-field">
      <%= form.date_field "card[birthdate]", id: 'birthdate', required: true %>
      <label for="cvc">Data de nascimento</label>
    </div>
  </div>
  <div class="col m4 offset-m2 s12">
    <div class="input-field">
      <%= form.text_field "card[number]", id: 'card_number', required: true %>
      <label for="number">Número</label>
    </div>
    <div class="input-field">
      <%= form.select("expiration_month", (1..12).to_a) %>
      <label for="expiration_month">Mês de expiração</label>
    </div>
    <div class="input-field">
      <%= form.select("expiration_year", credit_card_expiration_year_range) %>
      <label for="expiration_year">Ano de expiração</label>
    </div>
    <div class="input-field">
      <%= form.text_field :cvc, id: 'card_cvc', required: true %>
      <label for="cvc">CVC</label>
    </div>
    <div class="input-field">
      <textarea id="public_key" style="display:none;">
          -----BEGIN PUBLIC KEY-----
          MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAp09YVYCm2AL+UgTcra39
          s8F+lk81evzY3my710pSnp/5yCXy1zv1HsGJ5uH/iItapIy+S2y9Kac6Lol06vyQ
          MsT/ULYXeUgJTQTgOAiwh3+m0MF2zDjkTfLcvrR7QX4mIMBAiKXA5lhcFeYjL6VM
          7YOxL4fTMZBQcJoyXeK7ZnY+J7neuDQA6O5LMoyYDFPYyi8QqauDPRiYWz+PGBVt
          zykPg3M1b35nXpjuZogDKluTG4alp6ZM1r0vRRw+HIX4/V5Y8Dq1zhJJi9cX5F5a
          cnyVE39Z7F1HQw0QriH5z28bJdJBKv+mcpLDR7jDdolA1qvDghGWYjBHbqesmlJn
          xQIDAQAB
          -----END PUBLIC KEY-----
      </textarea>
    </div>
    <div class="input-field">
      <%= form.hidden_field "card_hash", value: '' %>
    </div>
  </div>
</div>